@font-face {
    font-family: "decovar";
    src: url("fonts/DecovarAlpha-VF.ttf");
}

@font-face {
    font-family: "jabin";
    src: url("fonts/Jabin-Typeface.ttf");
}

@keyframes appear { 
    0% {
        font-variation-settings: 'BLDA' 1000, 'WMX2' 0;
    }
    50% { 
        font-variation-settings: 'BLDA' 0, 'WMX2' 250;
    }
    100% {
        font-variation-settings: 'BLDA' 0, 'WMX2' 500;
    }
}

@keyframes increase-weight {
    0% {
        opacity: 0;
        font-variation-settings: 'wght' 0, 'XXXX' 0;
    }
    50% {
        opacity: 1;
        font-variation-settings: 'wght' 0, 'XXXX' 0;
    }
    100% {
        font-variation-settings: 'wght' 70, 'XXXX' 100;
    }
}

@keyframes changeLetter {
    0% {
        content: "SOMMER";
      }
    50% {
    color: white;
    }
    100% {
    content: "HOST";
    }
}
  
#decovar::before {
    content: "SOMMER";
    animation: changeLetter 3s linear infinite alternate;
} 

body {
    background-color: #000;
}

.main {
    justify-content: center;
    align-items: center;
    display: flex;
    padding-top: 200px;
    transition: filter 2s ease-in-out;
}

#intro {
    color: #FFF;
    font-size: 4em;
    font-family: "jabin";
    animation: increase-weight 10s ease-in-out;
    text-align: center;
    font-variation-settings: 'wght' 70, 'XXXX' 100;
}

#decovar {
    font-size: 150px;
    font-family: "decovar";
    animation: expand 4s infinite alternate cubic-bezier(0.645, 0.045, 0.355, 1);
    color: #000;
    transition: color 2s ease-in-out;
}

#decovar:hover {
    color: #FFF;
}

#overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#audio-control {
    position: absolute;
    top: 80%;
}