html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

body {
    filter: grayscale(60%);    
}
#skybackground {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    background: linear-gradient(rgb(0, 0, 30), rgb(18, 23, 29))
}

tempdump {
background: linear-gradient(rgb(92, 130, 189), rgb(152, 192, 240))
}

.cloud {
    position: absolute;
    opacity: 0.6;
}

#city {
    position: absolute;
    z-index: 15;
    filter: grayscale(100%);
    top: 10%;
}

#water {
    width: 100%;
    height: 33%;
    top: 66%;
    position: absolute;
}


#mountain {
    background-color: grey;
}

#nature {
    background-color: green;
}

#sea {
    background-color: blue;
}

#clouds {
    background-color: turquoise;
}

.snowflake{
  position: absolute;
  color: white;
}