#mountain {
    background-color: grey;
}

#nature {
    background-color: green;
}

#sea {
    background-color: blue;
}

#city {
    background-color: gainsboro;
}

#clouds {
    background-color: turquoise;
}