html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

body {
    filter: grayscale(60%);    
}
#skybackground {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    background: linear-gradient(#011642, #0E58BC);
}

tempdump {
background: linear-gradient(rgb(92, 130, 189), rgb(152, 192, 240))
}

.cloud {
    position: absolute;
    opacity: 0.5;
    filter: sepia(100%) hue-rotate(180deg) brightness(75%) saturate(300%);
}

#city {
    position: absolute;
    z-index: 15;
    filter: sepia(100%) hue-rotate(180deg) brightness(75%) saturate(300%);
    bottom: 20%;
}

#city img {
    max-width: 100%;
}

#water {
    width: 100%;
    height: 33%;
    top: 66%;
    position: absolute;
}


#mountain {
    background-color: grey;
}

#nature {
    background-color: green;
}

#sea {
    background-color: blue;
}

#clouds {
    background-color: turquoise;
}

.snowflake{
  position: absolute;
  color: white;
  filter: blur(1px);
}